*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}


body{

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:linear-gradient(135deg,#020617,#991b1b,#7c3aed);

color:white;

padding:20px;

}


.ban-box{

width:95%;

max-width:450px;

padding:30px;

background:rgba(255,255,255,.12);

backdrop-filter:blur(15px);

border-radius:25px;

box-shadow:0 15px 40px rgba(0,0,0,.5);

text-align:center;

}


.ban-box h1{

color:#FFD700;

font-size:35px;

margin-bottom:25px;

}


.ban-box input{

width:100%;

padding:15px;

margin:10px 0;

border:none;

border-radius:15px;

font-size:16px;

}


.ban-box button{

width:100%;

padding:15px;

margin-top:15px;

border:none;

border-radius:15px;

background:linear-gradient(90deg,#ef4444,#7f1d1d);

color:white;

font-size:17px;

font-weight:bold;

cursor:pointer;

}


.ban-card{

background:rgba(255,255,255,.15);

padding:15px;

margin-top:15px;

border-radius:15px;

text-align:left;

}
