*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}


body{

min-height:100vh;

background:linear-gradient(135deg,#020617,#1e3a8a,#7c3aed);

color:white;

padding:20px;

}



.buy-container{

max-width:450px;

margin:auto;

background:rgba(255,255,255,.12);

backdrop-filter:blur(18px);

padding:25px;

border-radius:25px;

box-shadow:0 15px 40px rgba(0,0,0,.5);

}



.buy-container h1{

text-align:center;

color:#FFD700;

margin-bottom:25px;

font-size:32px;

}



.payment-box{

background:rgba(255,255,255,.15);

padding:20px;

border-radius:20px;

margin-bottom:20px;

}



.payment-box h2{

margin-bottom:15px;

}



.payment-box h3{

color:#00ffcc;

margin-bottom:10px;

}



.title{

text-align:center;

margin:25px 0 15px;

}



.package{

background:rgba(255,255,255,.15);

padding:20px;

border-radius:20px;

margin-bottom:15px;

text-align:center;

}



.package h3{

color:#FFD700;

font-size:22px;

}



.package p{

font-size:18px;

margin:10px;

}



.package button{

width:100%;

padding:14px;

border:none;

border-radius:15px;

background:linear-gradient(90deg,#00c6ff,#7c3aed);

color:white;

font-size:16px;

font-weight:bold;

}



.whatsapp{

position:fixed;

right:20px;

bottom:25px;

}



.whatsapp a{

width:55px;

height:55px;

display:flex;

justify-content:center;

align-items:center;

background:#25D366;

border-radius:50%;

font-size:28px;

text-decoration:none;

box-shadow:0 5px 20px rgba(0,0,0,.4);

}
