*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}


body{

background:linear-gradient(135deg,#020617,#312e81,#701a75);

color:white;

min-height:100vh;

padding:15px;

}



.live-container{

max-width:600px;

margin:auto;

}



.top{

background:rgba(255,255,255,0.12);

padding:15px;

border-radius:20px;

text-align:center;

margin-bottom:20px;

}



.top h1{

color:#ffd700;

}



.host-seat{

background:rgba(255,255,255,0.15);

border-radius:25px;

padding:20px;

text-align:center;

margin-bottom:20px;

}



.avatar{

font-size:45px;

}



.seats{

display:grid;

grid-template-columns:repeat(2,1fr);

gap:15px;

}



.seat{

background:rgba(255,255,255,0.12);

height:120px;

border-radius:20px;

display:flex;

flex-direction:column
