*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}


body{

min-height:100vh;

background:linear-gradient(135deg,#020617,#1e3a8a,#7c3aed);

color:white;

padding:20px;

}



.ranking-container{

max-width:500px;

margin:auto;

background:rgba(255,255,255,.12);

backdrop-filter:blur(18px);

padding:25px;

border-radius:25px;

box-shadow:0 15px 40px rgba(0,0,0,.5);

}



.ranking-container h1{

text-align:center;

color:#FFD700;

margin-bottom:25px;

}



.tabs{

display:flex;

gap:10px;

margin-bottom:20px;

}



.tabs button{

flex:1;

padding:14px;

border:none;

border-radius:15px;

background:linear-gradient(90deg,#00c6ff,#7c3aed);

color:white;

font-weight:bold;

cursor:pointer;

}



.rank-card{

background:rgba(255,255,255,.15);

padding:18px;

border-radius:20px;

margin-top:15px;

display:flex;

align-items:center;

justify-content:space-between;

}



.rank-number{

font-size:30px;

color:#FFD700;

font-weight:bold;

}



.user-info h3{

color:#00ffcc;

}



.user-info p{

margin-top:5px;

font-size:15px;

}



.rank-badge{

font-size:25px;

}
